<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">善任网</h1>
       <p class="slogan">知人善用 马上'善'任
         <br>
         善任的主旨在于最大限度匹配您的技能
         <br>
         谋求工作，成就事业
       </p>
       <p class="lead">
         <%= link_to '让我们找到你', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">了解你的技能，发挥你的专长</h2>
         <p class="lead">善任，善于发现，任你选择</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">马上投递简历，求职更轻松</h2>
         <p class="lead">不需要要花更长的时间，马上开始
            <br>
           <a target="_blank" href="http://jianlimoban.yjbys.com">      简历模版</a>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">更多疑问？直接致电<br>SR HRD：010-8888888</h2>
         <p class="lead">
           <%= link_to '马上开始', jobs_path, class: 'btn btn-danger' %>
         </p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
